@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RimmaSans;
  src: url("../fonts/RIMMA_SANS-BOLD_2.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: RimmaSans;
  color: #fff;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: var(calc(--sizeindex));
  color: var(--cian);
}

.photo-container {
  height: 450vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.map-photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-photo::before {
  content: "";

  background-image: url("../images/big.png");
  background-size: cover;
  background-position: center;
  display: block;
  width: 100vw;
  height: 100vh;
}

.opacity-0 {
  opacity: 0;
}

.position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.section-container {
  position: relative;
  height: 796px;
  width: 100%;
  background-color: var(--orange);
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  padding-right: 20px;
}

.grid-container {
  max-width: 1500px;
  margin: auto;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: var(--sizeindex);
  grid-row-gap: var(--sizeindex);
}

.logo-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;

  background-color: #fff;
  border-radius: 50px;
  border: solid 3px var(--orange);

  transform: translate(-50%, -50%);
  opacity: 0;
}

.logo-image {
  width: 300px;
  height: 200px;
  background-image: url("../images/fst-logo.png");
}

.bg-orange {
  background-color: var(--orange);
}

.bg-cian {
  background-color: var(--cian);
}

.color-cian {
  color: var(--cian);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #fff;
  transition: top 500ms ease-in-out;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header-hide {
  top: -60px;
}

.header-logo {
  min-width: 90px;
  width: 8%;
  height: 60px;
  background-image: url("../images/fst-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h2-wrapper {
  width: 70%;
  text-align: center;
}

.h4-wrapper {
  width: 85%;
  height: 100%;
  text-align: center;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.h1-grid {
  grid-column: 1 / 5;
  grid-row: 6 / span 2;
}

.text-center {
  text-align: center;
}

.card-stream {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;

  background-color: #fff;
  border-radius: 25px;
}

.grid-card-top-left {
  grid-column: 5 / span 4;
  grid-row: 4 / span 3;
}

.grid-card-top-right {
  grid-column: 9 / -1;
  grid-row: 4 / span 3;
}

.grid-card-bottom-left {
  grid-column: 5 / span 4;
  grid-row: 7 / span 3;
}

.grid-card-bottom-right {
  grid-column: 9 / -1;
  grid-row: 7 / span 3;
}

.study-stream-photo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.journalism {
  background-image: url("../images/journalism.png");
}

.advertisement {
  background-image: url("../images/advertisment.png");
}

.sociology {
  background-image: url("../images/sociology.png");
}

.psychology {
  background-image: url("../images/psychology.png");
}

.h1-wrapper {
  text-align: center;
}

.another-h1-grid {
  grid-column: 3 / span 8;
  grid-row: 2;
}

.card-feedback {
  width: 100%;
  height: 100%;

  background-color: #fff;
  border-radius: 50px;
}

.feedback-grid-center {
  grid-column: 4 / span 6;
  grid-row: 3 / span 9;
  z-index: 2;
}

.feedback-grid-left {
  position: relative;
  grid-column: 1 / span 6;
  grid-row: 3 / span 9;

  transform: rotate(-15deg);
  top: 5vh;
  opacity: 0.4;
}

.feedback-grid-right {
  position: relative;
  grid-column: 7 / span 6;
  grid-row: 3 / span 9;

  transform: rotate(15deg);
  top: 5vh;
  opacity: 0.4;
}

@media (max-width: 1450px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 1289px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 16px;
  }
}

@media (max-width: 1159px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .h1-grid {
    grid-column: 5 / span 4;
    grid-row: 2 / span 2;
  }

  .grid-card-top-left {
    grid-column: 2 / span 5;
    grid-row: 4 / span 3;
  }

  .grid-card-top-right {
    grid-column: 7 / span 5;
    grid-row: 4 / span 3;
  }

  .grid-card-bottom-left {
    grid-column: 2 / span 5;
    grid-row: 7 / span 3;
  }

  .grid-card-bottom-right {
    grid-column: 7 / span 5;
    grid-row: 7 / span 3;
  }
}

@media (max-width: 990px) {
  h2 {
    font-size: 16px;
  }
}

@media (max-width: 920px) {
  h1 {
    font-size: 24px;
  }
}
