:root {
  --bg-black: #130e01;
  --white: #ffffff;
  --orange: #f38c19;
  --cian: #4dbca6;
  --cian\:hover: #338776;
  --accent: #cf4307;
  --bard: #921a1c;
  --purple: #ab4eb7;
  --genium-cian: #29baa7;
}
