.flex.flex-col.px-8.overflow-y-scroll.h-120
  .flex.flex-row-reverse.mb-4
    +image('student-icon', 'ml-4 mt-auto', 'svg')
    .bg-cian.rounded-tbl-xl.p-4(class='w-5/12')
      p.text-white Как и на каком курсе ты пришла во внеучебную жизнь?
  .flex.flex-row.mb-4
    +image('guznova-icon', 'mr-4 mt-auto', 'svg')
    .bg-white.rounded-tbr-xl.p-4(class='w-8/12')
      p.text-black Я пришла во внеучебную жизнь с самого 1 курса, так как меня очень сильно вдохновила моя куратор Кристина Приходько, которая на тот момент была председателем ССФ и главным куратором. И с самого 1 сентября я поняла, что хочу так же, после чего ходила на все отборы, все мероприятия, пробовала себя везде и оказалась там, где и хотела.
  .flex.flex-row-reverse.mb-4
    +image('student-icon', 'ml-4 mt-auto', 'svg')
    .bg-cian.rounded-tbl-xl.p-4(class='w-5/12')
      p.text-white Самое яркое, что ты можешь выделить из внеучебки за все эти года, будь то мероприятие, команда или в общем эмоции?
  .flex.flex-row.mb-4
    +image('guznova-icon', 'mr-4 mt-auto', 'svg')
    .bg-white.rounded-tbr-xl.p-4(class='w-8/12')
      p.text-black Наверное, это первые мои две команды. Это команда актива, куда я попала в феврале 2021 года.
      p.text-black Мы были некими новаторами и первооткрывателями, потому что мы создали те самые мероприятия, которые сейчас являются традиционными.
      p.text-black Ну и вторая команда-это команда XV созыва ФСТ. Все мои яркие воспоминания и слезы радости связаны именно с ней, потому что мы вместе выросли, были всегда рядом не смотря ни на что.
  .flex.flex-row-reverse.mb-4
    +image('student-icon', 'ml-4 mt-auto', 'svg')
    .bg-cian.rounded-tbl-xl.p-4(class='w-6/12')
      p.text-white Почему главный куратор? Что для тебя это?
  .flex.flex-row.mb-4
    +image('guznova-icon', 'mr-4 mt-auto', 'svg')
    .bg-white.rounded-tbr-xl.p-4(class='w-8/12')
      p.text-black Для меня это было маленькой мечтой, опять же, благодаря Кристине.
      p.text-black Для меня это колоссальнейший рост и ответственность. Было страшно, но сейчас я чувствую себя на своем месте. Готова вкладывать всю душу в своих ребят кураторов и первокурсников и очень благодарна себе и своей команде за гигантскую поддержку.