.w-full.bg-white.rounded-b-2xl.pt-4.px-8
  .flex.flex-row.px-2.mb-6.justify-center
    +image('plus-icon', 'object-contain mr-3', 'svg')
    .bg-phone.w-96.p-3.mr-3
      p Спасибо за ответы!
    +image('send-icon', 'object-contain', 'svg')
  +image('home-indicator-icon', 'object-contain mb-4 mx-auto', 'svg')