.w-full.bg-white.rounded-t-2xl.pt-4.px-8.mb-4
  .flex.flex-row.justify-between.px-2.mb-4
    p.text-light 9:41
    +image('phone-right-bar', 'object-contain', 'svg')
  .flex.flex-row.justify-between.mb-4.px-2
    .flex.flex-row
      +image('back-icon', 'mr-2', 'svg')
      p Гузнова Дарина
    +image('search-hamburger', null, 'svg')