section.container.mx-auto.px-4.mb-12
  div(class='w-1/2 mx-auto flex flex-col items-center')
    h2.mb-12.mx-auto.text-4xl О нашем факультете
    p.text-white Факультет социальных технологий («факультет с сердцем») предоставляет широкие возможности для развития и презентации креативности, как в учебной, так и во внеучебной студенческой жизни.