include libs/image
include libs/li

- 
  const list = [
    'председатель',
    'заместитель председателя',
    'секретарь',
    'уполномоченный по правам студентов',
    'глава SMM',
    'глава отдела внешних коммуникаций',
    'специалист культурномассового отдела',
    'куратор студенческого актива',
    'специалист по работе с абитуриентами ',
    'специалист SMM отдела',
    'специалист отдела внешних коммуникаций',
  ];

section.container.mx-auto.px-4.mb-12
  h2.text-center.mb-12 Актив нашего факультета
  .flex.flex-row.justify-between.mb-6
    .flex.flex-col.mr-12(class='w-1/2')
      h3.text-center.text-white.mb-6 Студенческий совет
      p.text-white.mb-2 ССФ -это проводники во внеучебную жизнь всех вновь прибывших студентов и всех тех, кто ищет себя.
      p.text-white.mb-2 К 2023 году студенческий совет существует уже 16 лет.
      p.text-white.mb-2 Он включает в себя 13 специалистов по разным ключевым направлениям факультета:
      ul.list-disc.mb-2
        +li(list)
      p.text-white.mb-2 На данный момент свою работу активно ведет XVI созыв.
      p.text-white Студенческий совет берет на себя много работы, чтобы абитуриентам было проще адаптироваться, а жизнь на факультете не была скучной и однообразной.
    +image('active-photo-1', 'object-contain w-1/2 h-1/2')
  .flex.flex-row-reverse.justify-between.mb-12
    .flex.flex-col.ml-12(class='w-1/2')
      p.text-white.mb-2 Каждый год студенческий совет проводит мероприятия как для всего факультета, так и исключительно для первокурсников
      p.text-white.mb-2 Начиная с начала учебного года первокурсник попадает в неизвестный мир студенческой жизни, где ему предстоит очень много узнать. Помимо лекций, семинарский занятий, докладов и проектов каждый студент может стать частью жизни факультета.
      p.text-white.mb-2 Об этом и не только студенческий совет посвящает ребят на ежегодной Школе Актива Факультета
      p.text-white.mb-2 ШАФ- мероприятие, которое проводится на выездной базе ЗООЦ АКАДЕМИЯ.
      p.text-white Это прекрасная возможность познакомиться поближе со студсоветом, узнать все нюанса структуры факультета, найти себе занятие по душе и, самое главное, стать частью большой семьи ФСТ.
    +image('active-photo-2', 'object-contain w-1/2 h-1/2')
  h3.text-center.text-white.mb-12 Фестиваль первокурсников
  .flex.flex-row.mb-12
    +image('active-photo-3', 'w-1/2 h-1/2')
    .bg-cian.rounded-3xl.p-6.ml-6.flex.flex-row.items-center(class='w-1/2')
      .my-auto
        p.text-white.mb-2 Одно из главных событий всего факультета и институт в целом -это ФЕСТИВАЛЬ ПЕРВОКУРСНИКОВ.
        p.text-white.mb-2 Ежегодно, студенческий совет института(ССИ) назначает дату проведения фестиваля еще летом, когда на факультетах формируется список абитуриентов, после этого весь студенческий совет, актив и любой желающий вступают в рабочую группу и начинают работу над сценарием для фестиваля.
        p.text-white.mb-2 Фестиваль Первокурсников проводится уже не первый год в Академии.
        p.text-white До карантинного года кубок победителя был у Юридического факультета, но в 2022 году ФСТ с гордостью забрали награды за лучшую танцевальную постановку, приз зрительских симпатий и ГРАН-ПРИ, кубок которого по сей день хранится на видном месте наград факультета .
  .flex.flex-row-reverse.justify-between.mb-12
    +image('active-photo-4', 'w-1/2 h-1/2')
    .bg-orange.rounded-3xl.p-6.mr-6.flex.flex-row.items-center(class='w-1/2')
      .my-auto
        p.text-white ФП-это наиважнейшее событие любого первокурсника, которое они запомнят навсегда, потому что такого больше не повторится. Первокурсником бываешь не часто и есть всего один шанс прочувствовать атмосферу грандиозного фестиваля изнутри и побывать на сцене внутри постановки в окружении, казалось бы новых тебе людей, но уже таких близких, потому что за время подготовки к ФП каждый найдёт себе друга, единомышленника и сокомандника, ведь что еще так сближает людей, как общее дело.
  include phone
  

