include libs/person-card

- const hlutkovText = 'За весь период научно-педагогической деятельности Хлутковым А.Д. опубликовано более 60 научных трудов и учебно-методических работ. В том числе — 4 монографии, 18 статей в рецензируемых изданиях (рекомендованных ВАК Минобрнауки России), 2 статьи в индексируемых журналах (Scopus) и 9 учебно-методических работ.';
- const kuzinText = 'Кандидат политических наук, профессор, лауреат премии Правительства Санкт-Петербурга, член Союза журналистов России. Награжден Звездой Вернадского II степени за поддержку и развитие науки Российской Федерации и руководство программой «Надежда России»';
- const komissarovText = 'Председатель Правительства России Михаил Мишустин подписал распоряжение Правительства РФ о назначении Алексея Комиссарова ректором РАНХиГС. Он продолжит работать в качестве генерального директора президентской платформы «Россия – страна возможностей».';

-
  const persons = [
    {
      image: 'hlutkov',
      fullName: 'Хлутков Андрей Драгомирович',
      post: 'Директор СЗИУ РАНХиГС',
      description: hlutkovText,
    },
    {
      image: 'kuzin',
      fullName: 'Кузин Олег Сергеевич',
      post: 'Декан факультета',
      description: kuzinText,
    },
    {
      image: 'komissarov',
      fullName: 'Комиссаров Алексей Генадьевич',
      post: 'Ректор',
      description: hlutkovText,
    },
  ];

-
  const pasinkova = {
      image: 'pasinkova',
      fullName: 'Пасынковская Ангелина Юрьевна',
      post: 'Организатор учебно-методической работы на образовательной программе "Журналистика"',
    };

-
  const degtyareva = {
    image: 'degtyareva',
    fullName: 'Дегтярева Ольга Викторовна',
    post: 'Доцент кафедры журналистики и медиакоммуникаций, кандидат политических наук',
  };

section.container.mx-auto.px-4.mb-12
  h2.text-center.mb-8 Администрация
  .flex.flex-row.justify-between.mb-8
    +makePersonCards(persons)
  h3.text-center.text-white.mb-8 Интервью с представителями администрации
  .flex.flex-row.mb-8
    +personCard(pasinkova)
    .bg-white.rounded-tbr-xl.p-3.ml-4(class='w-1/2 h-1/2')
      p Работать на ФСТ - мое искреннее желание! В первый свой рабочий день я испытывала радость, что, наконец, это случилось)) в каком-то смысле гордость и причастность к общему делу.
      p Иногда кажется, что занимаюсь всем, чем можно)) Сопровождаю и студентов, и преподавателей: от вступительных испытаний до выпуска и от приема на работу до увольнения. Моя главная обязанность - организация учебно-методической работы на образовательной программе "Журналистика", отсюда и все вытекающие! На данный момент основную работу совмещаю и с преподавательской деятельностью.
  .flex.flex-row-reverse
    +personCard(degtyareva)
    .bg-white.rounded-tbl-xl.p-3.mr-4(class='w-4/6 h-1/2')
      p Мое знакомство с ФСТ состоялось еще в 2017 году. Я вела очень много дисциплин, начиная от политической журналистики, системы СМИ, основ теории журналистики, заканчивая современными зарубежными СМИ, журналистским расследованием и пр. По каждым дисциплинам приходилось нарабатывать кейсы, изучать материалы, литературу. Узнавать, что ребятам подходит, что нет.
      p Вообще, нужно просто быть профессионалом в своей деятельности, готовиться к лекциям. Мне это всегда очень нравилось, это такой обмен энергиями в аудитории, поэтому ничего не сравнится с занятиями с ребятами вживую, где можно обсудить, проанализировать, провести параллели. Я очень люблю именно аналитическую журналистику, журналистское расследование, где ребята могут показать свои знания лучше всего.
      p Помимо преподавания я занимаюсь экспертной деятельностью, я связана с некоторыми СМИ.
      p Научная деятельность- это еще один аспект, которым занимается каждый преподаватель. Написание научных статей, исследования, диссертации. Также я возглавляю СНО (студенческое научное общество) нашего факультета.
      p Я очень рада, когда ребята обращают внимание на научную деятельность!



    