include libs/image

section.container.mx-auto.px-4.relative.mb-40
  +image('start-photo-1', 'lg:w-48p 2xl:w-max')
  +image('start-photo-2', 'absolute lg:w-48p 2xl:w-max right-0 top-1/4')
  h1(class='absolute absolute-center text-orange md:text-6xl lg:text-7xl 2xl:text-8xl') ФСТ
  button(class='btn absolute start-19p mt-6 2xl:px-7 2xl:py-4') Узнать больше