include libs/person-card

-
  const students = [
    {
      image: 'berlova',
      fullName: 'Берлова София',
      post: 'Студентка второго курса направления “Психология”',
    },
    {
      image: 'nesterkina',
      fullName: 'Нестеркина Елизавета',
      post: 'Студентка второго курса направления “Социология”',
    },
    {
      image: 'xamlyuk',
      fullName: 'Хамлюк Анна',
      post: 'Студентка второго курса направления “Журналистика”',
    },
    {
      image: 'babelo',
      fullName: 'Бабело София',
      post: 'Студентка второго курса направления “Реклама и связи с общественностью”',
    },
  ];

section.container.mx-auto.px-4.mb-12(id='interview')
  h2.text-center.mb-6 Интервью с нашими студентами
  .swiper
    .swiper-wrapper
      .swiper-slide.bg-white.p-4.mx-auto.rounded-xl(class='w-1/2')
        .flex.flex-row.justify-around  
          +personCard(students[0], 'text-black')
          .flex.flex-col.my-auto(class='w-1/2')
            p.mb-2 Мне очень нравится мое направление обучения на Факультете Социальных Технологий. Это оказалось именно тем, чем я увлечена. Я чувствую, что выбор этого направления был для меня правильным. Моя учеба на ФСТ очень насыщенная и интересная, с каждым новым днем обучения я получаю много полезных знаний и навыков.
            p.mb-2 Один из ключевых моментов, который делает мою учебу на ФСТ особенно приятной, - это мой коллектив. Мне очень повезло с замечательными однокурсниками и преподавателями, которые всегда готовы поддержать и помочь. Этот коллектив создал атмосферу сотрудничества и взаимопонимания, что способствует более эффективному обучению.
            p Совмещая интерес к предмету и благоприятную образовательную среду, учеба на ФСТ оправдывает мои ожидания и дает ценный опыт, который я непременно применю в будущей карьере в области психологии управления!
      .swiper-slide.bg-white.p-4.mx-auto.rounded-xl(class='w-1/2')
        .flex.flex-row.justify-around  
          +personCard(students[1], 'text-black')
          .flex.flex-col.my-auto(class='w-1/2')
            p.mb-2 Если рассказывать про ФСТ, то даже самое первое впечатление было восхитительным. Я помню, как мы почти всем факультетом встретились на Горьковской перед линейкой и кричали все вместе «ФСТ! ФСТ!». Все ребята на ФСТ очень открытые и всегда готовы помочь. Сама я учусь на направлении «Социология». Первое время я не была уверена, что это мое направление и что оно действительно мне подходит. Но со временем я начала ходить на пары, узнавать больше о своих одногруппниках и стало намного комфортнее учиться.
            p Мы первые социологи в Питерском РАНХиГСе и, конечно, всем было очень интересно чем же мы занимаемся, кем мы станет, когда закончим обучение. Первое время мы тоже плохо понимали кем же мы станем. Но наш учебный план составлен настолько хорошо, что мы действительно со временем начинаем понимать кем мы станем и нам становится все интереснее и интереснее учиться.
      .swiper-slide.bg-white.p-4.mx-auto.rounded-xl(class='w-1/2')
        .flex.flex-row.justify-around  
          +personCard(students[2], 'text-black')
          .flex.flex-col.my-auto(class='w-1/2')
            p.mb-2 Учеба на ФСТ - одно из самых ярких впечатлений за последнее время. Это не только учеба, но и прекрасные люди, с которыми знакомишься в процессе работы. Я никогда не думала, что свяжу свою жизнь с журналистикой, но скорее всего это был самый правильный выбор. Многие преподаватели очень отзывчивые, готовы помочь, что-то подсказать в своей области. Все ребята на факультете очень творческие, яркие и абсолютно разные.
            p Как староста своей группы, могу сказать, что быть старостой непросто. Ты отвечаешь за передачу информации, за связь студентов с преподавателями, за отношения в коллективе. Один твой пропущенный «момент» может подставить всю группу, поэтому это достаточно большая ответственность. Тем не менее с группой мне очень повезло. От них много помощи и поддержки, каждый из них невероятно талантливый.
      .swiper-slide.bg-white.p-4.mx-auto.rounded-xl(class='w-1/2')
        .flex.flex-row.justify-around  
          +personCard(students[3], 'text-black')
          .flex.flex-col.my-auto(class='w-1/2')
            p Я учусь на рекламе уже год и за это время узнала много нового. Преподаватели увлечены своей работой и всегда идут на встречу. Мне повезло с отличными преподавателями, которые делятся своими знаниями и опытом в сфере рекламы. Они стимулируют нас к креативному мышлению и предоставляют реальные кейсы. Учёба насыщенная и интересная. Рада, что поступила именно в этот университет на рекламу.
    .swiper-button-prev
    .swiper-button-next  

    
  
