include libs/person-card

-
  const students = [
    {
      image: 'berlova',
      fullName: 'Берлова София',
      post: 'Студентка второго курса направления “Психология”',
    },
    {
      image: 'nesterkina',
      fullName: 'Нестеркина Елизавета',
      post: 'Студентка второго курса направления “Социология”',
    },
    {
      image: 'xamlyuk',
      fullName: 'Хамлюк Анна',
      post: 'Студентка второго курса направления “Журналистика”',
    },
    {
      image: 'babelo',
      fullName: 'Бабело София',
      post: 'Студентка второго курса направления “Реклама и связи с общественностью”',
    },
  ];

section.container.mx-auto.px-4.mb-12
  h2.text-center.mb-6 Интервью с нашими студентами
  .bg-white.p-4.mx-auto.rounded-xl(class='w-3/4')
    .flex.flex-row.justify-around  
      +personCard(students[0], 'text-black')
      .flex.flex-col(class='w-1/2')
        p.mb-2 Мне очень нравится мое направление обучения на Факультете Социальных Технологий. Это оказалось именно тем, чем я увлечена. Я чувствую, что выбор этого направления был для меня правильным. Моя учеба на ФСТ очень насыщенная и интересная, с каждым новым днем обучения я получаю много полезных знаний и навыков.
        p.mb-2 Один из ключевых моментов, который делает мою учебу на ФСТ особенно приятной, - это мой коллектив. Мне очень повезло с замечательными однокурсниками и преподавателями, которые всегда готовы поддержать и помочь. Этот коллектив создал атмосферу сотрудничества и взаимопонимания, что способствует более эффективному обучению.
        p Совмещая интерес к предмету и благоприятную образовательную среду, учеба на ФСТ оправдывает мои ожидания и дает ценный опыт, который я непременно применю в будущей карьере в области психологии управления!
    
  
