include libs/image

section.container.mx-auto.px-4.mb-12
  div(class='w-1/2 mx-auto mb-12')
    h2.text-center.mb-12 Музей нашего факультета
    p.text-white На базе факультета социальных технологий существует музей истории журналистики и PR.
    p.text-white Экспозиция состоит из самых разных артефактов, имеющих отношение к прессе, среди которых: старинные фотокамеры, печатные машинки, диктофоны, картины.
    p.text-white 25 лет собирал эти экспонаты Олег Сергеевич Кузин – основатель музея и декан Факультета социальных технологий.
    p.text-white Отдельное богатство музея составляет коллекция журналов и газет различных эпох.
  .flex.flex-row.mb-6
    +image('muzeum-photo-1', 'w-1/2 h-1/2 mr-6')
    +image('muzeum-photo-2', 'w-1/2 h-1/2')
  .flex.flex-row.mb-6
    +image('muzeum-photo-3', 'w-1/2 h-1/2 mr-6')
    +image('muzeum-photo-4', 'w-1/2 h-1/2')
  +image('muzeum-photo-5', 'w-1/2 h-1/2 mx-auto')
