section.relative.overflow-hidden(id="main")
  .element__section(id="page")
    canvas.element__section.z-10
  .element__section(id="page1")
  .element__section(id="page2")
  .element__section(id="page3")
