include libs/person-card

-
  const samoilov = {
    image: 'samoilov',
    fullName: 'Самойлов Павел Максимович',
    post: 'Директор учебного медиацентра',
  };

-
  const felisteeva = {
    image: 'felisteeva',
    fullName: 'Фелистеева Светлана Евгеньевна',
    post: 'Заместитель директора учебного медиацентра',
  };

section.container.mx-auto.px-4.mb-12
  h2.mb-6 Учебный медиацентр
  .flex.flex-col.mb-6
    .w-full.bg-white.rounded-2xl.px-36.mb-6
      .flex.flex-row.w-full.justify-between.items-center.py-6
        +personCard(samoilov, 'text-black')
        .flex.flex-col(class='w-2/3')
          p.mb-2 Я устроился работать год назад в 2022 году, сразу после того как защитил диплом.
          p.mb-2 Не знаю, особо много эмоций я не испытывал. Тогда время для меня было достаточно судорожное, я очень сильно переживал за то где я буду работать. Когда устроился - стало спокойнее. Все ещё очень рад, что я выбрал своим первым местом своей работы РАНХиГС. Хороший коллектив, студенты классные и общительные.
          p.mb-2 Я занимаюсь, в первую очередь, студентами. Руковожу студенческим медиацентром. Даю самую важную практическую базу в журналистике, без которой ни куда дальше. Мы вместе с ребятами выстраиваем организацию студенческих СМИ: газеты Просто, интернет медиа "ФСТмедиа". Создаём медиа контент о городе, вузе и факультете. Выходим в прямые эфиры новостей, верстаем газету и записываем подкасты. Я как соединительный механизм всей этой большой студенческой деятельности.
          p Но... УМЦ - это учебный медиацентр, на базе факультета социальных технологий РАНХиГС - Санкт-Петербург. В котором ребята получают свои первые профессиональные базовые навыки на практике. Днем на парах теория, а после - практика в учебном медиа центре.
    .w-full.bg-white.rounded-2xl.px-36
      .flex.flex-row.w-full.justify-between.items-center.py-6
        +personCard(felisteeva, 'text-black')
        .flex.flex-col(class='w-2/3')
          p.mb-2 13 февраля - был мой первый день официально а качестве сотрудника СЗИУ. Честно, эмоций было много и они были смешанные. Так как очень долго тянулся процесс трудоустройства, когда я наконец-то услышала "завтра ваш первый день" я не пошла поверить. Переживания, страх, вопросы. Но одновременно с этим я понимала, что сейчас наконец-то я получаю больше возможностей реально внести свой вклад в развитие родного факультета.
          p.mb-2 Мой должность звучит так - Заведующий отношение образовательных и аппаратных технологий. Немного сложно и непонятно, правда? Чтобы было более понятно я говорю, что являюсь заместителем директора Учебного Мадиацентра. То есть основная площадка моей работы это наш УМЦ. Своей главное задачей я считаю работать для студентов. Чтобы у ребят было больше возможностей и желания развивать, реализовывать свои идеи, пробовать новое и становится лучше каждый день.
          p.mb-2 На данный момент я являюсь куратором одного из подразделений УМЦ - студенческого рекламного агентства "Genium". Веду социальные сети нашего факультета вместе с командой студентов. Организовываем мероприятия для студентов, такие как открытые мастер-классы, конференции, учебные выезды на базу и не только.
          p.mb-2 Учебный Медиацентр ФСТ одним словом это возможности. Это для вас. Для студентов.
          p Творите, пробуйте новое, придумывайте, снимайте, создавайте здесь.
