doctype html
html(lang="ru")
  include pug/head
  body.bg-black
    include pug/header
    main
      include pug/hero
      include pug/about
      include pug/select
      include pug/administration