doctype html
html(lang="ru")
  include pug/head
  body.bg-black
    header
      include pug/header
    main
      include pug/hero
      include pug/about
      include pug/select
      include pug/administration
      include pug/interview
      include pug/umc
      include pug/active
      include pug/muzeum
    footer
      include pug/footer